html, body {
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
}
html {
    display: table;
}
body {
    display: table-cell;
    vertical-align: middle;
    
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(top, #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    
    //background: url(http://c9.io/static/style/images/zenbg.png);
}
#c {
    /*background-image: url("../Graphics/bg_1_1.png");*/
    background-image: url("../Graphics/effects test_0_rv2.png");
    /*background-size: 100% 100%;*/
    background-size: auto 100%;
}
/*.i {
    font: italic bold 3em/50px Georgia, "Times New Roman", Times, serif;
}*/

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.5);
}
.head {
    float: left;
    box-shadow: none;
    -webkit-box-shadow: none;
    /*border-radius: 0.5em;*/
    font-family: "Nova Square";
    font-size: 36px;
    color: white;
    text-shadow: rgba(0,0,0,0.5) 0px 0px 20px;
}
    /*background-image:     -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),    				
						-webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),					
						-webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
						
						-webkit-linear-gradient(-90deg, hsl(0,0%,78%)  0%, 
														hsl(0,0%,90%) 47%, 
														hsl(0,0%,78%) 53%,
														hsl(0,0%,70%)100%);	*
}
.head:hover {
    color: hsl(210, 100%, 40%);
	text-shadow: hsla(210,100%,20%,.3) 0 -1px 0, hsl(210,100%,85%) 0 2px 1px;/*, hsla(200,100%,80%,1) 0 0 5px, hsla(210,100%,50%,.6) 0 0 20px;*/
	/*-webkit-box-shadow: inset hsla(210,100%,30%,  1) 0  0px 0px 4px;*
}*/