html, body {
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
}
html {
    display: table;
}
body {
    display: table-cell;
    vertical-align: middle;
    
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(top, #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    
    //background: url(http://c9.io/static/style/images/zenbg.png);
}
#c {
    /*background-image: url("../Graphics/bg_1_1.png");*/
    background-image: url("../Graphics/effects test_0_rv2.png");
    /*background-size: 100% 100%;*/
    background-size: auto 100%;
    display: none;
}
canvas {
    border: 1px dotted silver;
}

#card {
    text-align: center;
    background-color: gold;
    background-image: url(http://opengameart.org/sites/default/files/parchment-gold.png);
    display: inline-block;
    width: 320px;
    height: 460px;
    border-radius: 10px;
}
#card #cardImg {
    border: 1px outset #c0c0c0;
    width: 300px;
    height: 240px;
    margin: 0px;
    margin-top: 10px;
    background-color: rgba(0,0,0,0.5);
}
#card #cardBox {
    display: inline-block;
    background-color: rgba(255,255,255,0.5);
    width: 300px;
    height: 180px;
    margin-top: 5px;
    border: 1px solid silver;
}
#card #cardBox h3 {
    display: inline;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.5);
}